.app-container-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.inventory-container-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.category-button-category {
    background: url(/src/assets/icon-grid.svg) no-repeat;
    cursor: pointer;
    border: none;
    padding: 2rem
}

.genre-button-category {
    background: url(/src/assets/genre-bollywood.png) no-repeat;
    cursor: pointer;
    border: none;
    padding: 2rem
}